<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" throwConfigExceptions="true">
  <targets>
    <!-- Log to a file -->
    <target xsi:type="File" name="file" fileName="logs/app-${shortdate}.log" layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=toString}" />
    <!-- Log to the console -->
    <target xsi:type="Console" name="console" layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=toString}" />
  </targets>
  <rules>
    <!-- Log all levels to file -->
    <logger name="*" minlevel="Trace" writeTo="file" />
    <!-- Log warnings and above to console -->
    <logger name="*" minlevel="Warn" writeTo="console" />
  </rules>
</nlog>
