<section class="sidebar">
    <nav>
        <h2>Menu</h2>
        <ul>
            <li><a href="/dashboard.html">Dashboard</a></li>
            <li><a href="/joblogs.html">Job Logs</a></li>
            <li><a href="/renderlogs.html">Render Logs</a></li>
            <li><a href="/settings.html">Settings</a></li>
            <li><a href="/upload.html">Upload</a></li>
            <li><a href="/login.html" id="logoutLink">Logout</a></li>
        </ul>
    </nav>
</section>

<script>// Dynamically load the login details partial
    async function loadUserDetails() {
        const response = await fetch("./login-details.html");
        const html = await response.text();
        document.getElementById("sharedUserDetails").innerHTML = html;
    }

    loadUserDetails();</script>
